{% extends 'base.html' %}

{% block content %}

<h1>Add Room Page</h1>

<form method = "POST">    
    {% csrf_token %}
    
    <label>Room Number: </label>
    <input type= 'text'  name= 'roomnumber'><br><br>
    
    <label>Room Type: </label>
        <select name = 'roomtype'>
            <option value = "Single Room">Single Room</option>
            <option value = "Twin Sharing Room">Twin Sharing Room</option>
            <option value = "Master Room">Master Room</option>
            <option value = "Shared Room">Shared Room</option>
            <option value = "Studio Room">Studio Room</option>
        </select><br><br>
            


    <label>Size: </label>
    <input type= 'text'  name= 'size'><br><br>

    <label>Price: </label>
    <input type= 'text'  name= 'price'><br><br>

    <label>Availability: </label>
    <input type= 'checkbox'  name= 'availability'><br><br>

    <label>Description: </label>
    <textarea name= 'description'></textarea><br><br>

    <br><button type= 'submit'>Add Room</button>

</form>

{% endblock %}