{% extends 'base.html' %}

{% block content %}

<h1>Assign Tenant</h1>

<p>Room Number: {{ room.roomnumber }}</p>


<form method="POST">
    {% csrf_token %}

    <label>Select Tenant:</label>
    
    <select name="tenant">
        {% for tenant in tenants %}
            <option value="{{ tenant.id }}">
                {{ tenant.name }}
            </option>
        {% empty %}
            <option>No tenants available</option>
        {% endfor %}
    </select>


    <ul>

    {% for request_obj in requests %}

        <li>
            {{ request_obj.tenant.username }}
            :
            {{ request_obj.message }}
        </li>

    {% endfor %}

    </ul>

    <button type="submit">Assign</button>
</form>


{% endblock %}