{% extends 'base.html' %}

{% block content %}

<h1>Assign Tenant</h1>

<p>Room Number: {{ room.roomnumber }}</p>


<form method="POST">
    {% csrf_token %}

    <label>Select Tenant:</label>
    
    <select name="tenant">
        {% for tenant in tenants %}
            <option value="{{ tenant.id }}">
                {{ tenant.name }}
            </option>
        {% empty %}
            <option>No tenants available</option>
        {% endfor %}
    </select>

    <button type="submit">Assign</button>
</form>


{% endblock %}