<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Rental Management System</title>
</head>
<body>
    <h1>Smart Rental Management System</h1>

    <nav>
        <a href="/">Home</a> |

        {% if user.is_authenticated %}
            {% if user.profile.role == 'admin' %}
                <a href="/admin-dashboard/">Dashboard</a> |
            {% else %}
                <a href="/tenant-dashboard/">Dashboard</a> |
            {% endif %}

            <a href="/profile/">Profile</a> |
            <a href="/logout/">Logout</a>
        {% else %}
            <a href="/login/">Login</a> |
            <a href="/register/">Register</a>
        {% endif %}
    </nav>
    <hr>

    {% block content %}{% endblock %}
</body>
</html>