<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Smart Rental Management System</title>
</head>
<body>
    <h1>Smart Rental Management System</h1>

    <nav>
        <a href="/">Home</a> |

        {% if user.is_authenticated %}

            {% if user.profile.role == 'admin' %}
                <a href="/payment/admin-panel/">Dashboard</a> |

            {% elif user.profile.role == 'owner' %}
                <a href="/payment/owner-dashboard/">Dashboard</a> |

            {% elif user.profile.role == 'prospect' %}
                <a href="/prospect-dashboard/">Dashboard</a> |

            {% elif user.profile.role == 'tenant' %}
                <a href="/payment/">Dashboard</a> |

            {% endif %}
            
            <a href="/profile/">Profile</a> |
            <a href="/logout/">Logout</a>

         {% else %}

            <a href="/login/">Login</a> |
            <a href="/register/">Register</a>

        {% endif %}
    </nav>
    <hr>

    {% block content %}{% endblock %}
</body>
</html>