{% extends 'base.html' %}

{% block content %}

<h2>Create Owner Account</h2>

<form method="POST">

    {% csrf_token %}

    <input type="text" name="full_name" placeholder="Full Name" required><br><br>

    <input type="text" name="username" placeholder="Username" required><br><br>

    <input type="email" name="email" placeholder="Email" required><br><br>

    <input type="password" name="password" placeholder="Password" required><br><br>

    <input type="text" name="phone_number" placeholder="Phone Number" required><br><br>

    <textarea name="address" placeholder="Address"></textarea><br><br>

    <button type="submit">
        Create Owner
    </button>

</form>

{% endblock %}