{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-page">

<div class="login-container">


<div class="login-box">

<div class="logo">

<div class="logo-icon">

🏠

</div>

<h2>Welcome Back</h2>

<p>
Please sign in to your account
</p>

</div>

<form method="POST">

{% csrf_token %}

<div class="form-group">

    <label>Username</label>

    <div class="input-box">

        <i class="fa-solid fa-user icon"></i>

        <input
            type="text"
            name="username"
            placeholder="Enter your username"
            required>

    </div>

</div>

<div class="form-group">

    <label>Password</label>

    <div class="input-box">

        <i class="fa-solid fa-lock icon"></i>

        <input
            id="loginPassword"
            type="password"
            name="password"
            placeholder="Enter your password"
            required>

        <span
            class="eye"
            onclick="toggleLoginPassword()">

            <i class="fa-solid fa-eye"></i>

        </span>

    </div>

</div>

{% if error %}

<div class="error-message">

    <i class="fa-solid fa-circle-exclamation"></i>

    {{ error }}

</div>

{% endif %}

<div class="option">

    <a href="/password-reset/">

        Forgot Password?

    </a>

</div>

<button
    type="submit"
    class="login-btn">

    <i class="fa-solid fa-right-to-bracket"></i>

    Login

</button>

<div class="register">

    Don't have an account?

    <a href="/register/">

        Register Here

    </a>

</div>

</form>

</div>

</div>

</div>

<script>

function toggleLoginPassword(){

    const password =
        document.getElementById("loginPassword");

    const eye =
        document.querySelector(".eye i");

    if(password.type==="password"){

        password.type="text";

        eye.classList.remove("fa-eye");

        eye.classList.add("fa-eye-slash");

    }

    else{

        password.type="password";

        eye.classList.remove("fa-eye-slash");

        eye.classList.add("fa-eye");

    }

}

</script>

{% endblock %}