{% extends 'base.html' %}

{% block content %}

<h2>Login</h2>

<form method="POST">
    {% csrf_token %}

    <label>Username:</label><br>
    <input type="text" name="username" placeholder="Enter username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" placeholder="Enter password" required><br><br>

    <button type="submit">Login</button>
</form>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<hr>

<p>
    <a href="/password-reset/">Forgot Password?</a>
</p>

<p>
    Don’t have an account? 
    <a href="/register/">Register here</a>
</p>

{% endblock %}