{% extends 'base.html' %}

{% block content %}

<h2>Owner Dashboard</h2>

<p>Welcome {{ request.user.username }}</p>

<ul>
    <li>Manage Rooms</li>
    <li>Create Existing Tenant Accounts</li>
    <li>Verify Tenant Room Assignment</li>
    <li>Create Rent Invoices</li>
    <li>View Tenant Complaints</li>
    <li>Message Admin</li>
</ul>

<a href="/profile/">My Profile</a> | 
<a href="{% url 'create_tenant' %}"> 
    Create Tenant Account
</a> |
<a href="/logout/">Logout</a>

{% endblock %}
7. core/templates/tenant_dashboard.h