{% extends 'base.html' %}

{% block content %}

<h2>Set New Password</h2>

<form method="POST">

    {% csrf_token %}

    {% if form.errors %}
        <div style="color:red;">
            <strong>Errors:</strong>
            {{ form.errors }}
        </div>
    {% endif %}

    {{ form.as_p }}

    <button type="submit">Reset Password</button>

</form>

<script>

window.onload = function() {

    let passwordInputs = document.querySelectorAll('input[type="password"]');

    passwordInputs.forEach(function(input) {

        let button = document.createElement("button");

        button.type = "button";
        button.innerHTML = " 👁 ";

        button.onclick = function() {

            if (input.type === "password") {
                input.type = "text";
            }

            else {
                input.type = "password";
            }
        };

        input.parentNode.appendChild(button);
    });
};

</script>

{% endblock %}