{% extends 'base.html' %}

{% block content %}

<h2>Tenant Registration</h2>

<p>Create an account to search and rent available rooms.</p>

<form method="POST">

    {% csrf_token %}

    <label>Full Name:</label><br>
    <input type="text" name="full_name" required><br><br>

    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Phone Number:</label><br>
    <input type="text" name="phone_number" required><br><br>

    <label>Address:</label><br>
    <textarea name="address" required></textarea><br><br>

    <label>Password:</label><br>

    <div style="display:flex; align-items:center; gap:5px;">
        <input type="password" id="registerPassword" name="password" required>

        <button type="button" onclick="toggleRegisterPassword()">
            👁
        </button>
    </div>

    <br>

    <input type="hidden" name="role" value="tenant">

    <button type="submit">Register</button>

</form>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

<br>

<p>
    Already have an account?
    <a href="/login/">Login here</a>
</p>

<script>

function toggleRegisterPassword() {

    var passwordInput = document.getElementById("registerPassword");

    if (passwordInput.type === "password") {
        passwordInput.type = "text";
    }

    else {
        passwordInput.type = "password";
    }
}

</script>

{% endblock %}